.reviewList {
    margin: 5px;
    padding: 20px;
}

.date {
    font-weight: lighter;
}

.reviewAvg {
    display: inline-flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
