.reviewList {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.date {
    font-weight: 100;
}

.firstName {
    font-weight:500
}
.lighterFontWeight {
    font-weight: 300;
}

.reviewAvg {
    display: inline-flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.rate {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: black;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: black;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: black;
}

.postreviewInput {
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

.StarLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}
