.allSpots {
    margin: 5px;
    padding: 20px;
}

.spotTile {
    margin: 5px;
    width: 300px;
    height: 300px;
    display:inline-block;
    border: none;
    text-decoration: none;
}

img {
    object-fit: contain;
    height: auto;
    width: 100%;
}

.spotTileDetail {
    display: grid;
    margin: 5px;
    padding: 5px;
    grid-template:
    "a b d"
    "c b e";
}
.location {
    grid-area: a;
}

.price {
    grid-area: c;
}

.rating {
    grid-area: d;
    display: flex;
    justify-content:flex-end;
}
