.allSpots {
    --num-cols: 4;
    /* --row-height: 300px; */
    margin: 10px;
    row-gap: 2em;
    column-gap: 1em;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    /* grid-auto-rows: var(--row-height); */
    grid-auto-rows: 1fr
}

.spotTile {
    border: none;
    display: grid;
    grid-template-rows: 80% 20%;
    height: 100%
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.spotTileDetail {
    display: grid;
    margin: 5px;
    grid-template:
    "a b d"
    "c b e";
}
.location {
    grid-area: a;
}

.price {
    grid-area: c;
}

.rating {
    grid-area: d;
    display: flex;
    justify-content:flex-end;
}

.callOutBox{
    border: 0.1rem solid lightgray;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    break-inside: avoid;
    grid-area: c;
}

/* .newSpotFormPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

/* .newSpotForm {
    grid-column-start: 2;
} */

/* .input-box {
    background: white;
    padding: 5px;
    width: 100%
} */

.section {
    border-bottom: 2px solid lightgrey;
    margin: 5px;
    object-fit: contain;
    box-sizing: border-box;
}
.spotDetailContainer{
    display: grid;
    grid-template-columns: 75% 25%;
    margin-bottom: 5px;
    margin-top: 10px;
    grid-template-areas:
    "a c"
    "a d";
}

.description {
    grid-area: a;
    margin: 5px
}
.spotDetailPage {
    margin: 5px;
    /* row-gap: 2em;
    column-gap: 1em; */
    box-sizing: border-box;

    /* display: grid; */
}

.heading {
    margin-bottom: 10px;
}

.manageSpotDetailContainer{
    display: grid;
    grid-template-rows: 80% 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.spotImageDetailPage {
    display: grid;
    gap: 5px;
    margin: 5px;
    /* max-height: 400px; */
    box-sizing: border-box;
    grid-template-areas:
    "previewImg previewImg img1 img3"
    "previewImg previewImg img2 img4";
}

.previewImg {
    grid-area: previewImg;
    object-fit: cover;
    /* height: 100%; */
    /* width: 100%; */
    /* max-height: 100%; */
    max-height: 400px;
    height: auto;
    /* width: auto; */
}

.img1 {
    grid-area: img1;
    max-height: 198px;
}
.img2 {
    grid-area: img2;
    max-height: 198px;
}
.img3 {
    grid-area: img3;
    max-height: 198px;
}
.img4 {
    grid-area: img4;
    max-height: 198px;
}

@media screen and (max-width: 1024px) {
    .allSpots {
        --num-cols: 1;
        /* --row-height: 200px */
    }
}

@media screen and (max-width: 1000px) {
    /* .spotImageDetailPage {

    } */
}
