.allSpots {
    margin: 5px;
    padding: 20px;
}

.spotTile {
    margin: 5px;
    width: 300px;
    height: 300px;
    display:inline-block;
    border: none;
    text-decoration: none;
}

img {
    object-fit: contain;
    height: auto;
    width: 100%;
}

.spotTileDetail {
    display: grid;
    margin: 5px;
    padding: 5px;
    grid-template:
    "a b d"
    "c b e";
}
.location {
    grid-area: a;
}

.price {
    grid-area: c;
}

.rating {
    grid-area: d;
    display: flex;
    justify-content:flex-end;
}

.callOutBox{
    border: solid;
    border-radius: 10px;
    padding: 5px
}

.newSpotFormPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.newSpotForm {
    grid-column-start: 2;
}

.input-box {
    background: rgb(226, 226, 246);
    width: 100%
}

.createSpotButton {
    background: #e61e4d;
    color: white;
    margin: 5px;
    padding: 5px;
}

.section {
    border-bottom: 2px solid black;
    margin: 2px;
    padding: 2px
}
