.newSpotFormPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.newSpotForm {
    grid-column-start: 2;
}
.input-box {
    background: white;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.section1 {
    display: grid;
    grid-template-areas:
    "country"
    "address"
    "cityState"
    "latLng";
}
.country {
    grid-area: country;
}
.address {
    grid-area: address;
}
.cityState {
    display: grid;
    grid-template-columns: 65% 5% 30%;
}
.latLng {
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
}

.comma {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 5px;
}

textarea {
    border-radius: 10px;
}
.priceInput {
    display: flex;
    box-sizing: border-box;
}

span {
    margin-left: 5px;
    margin-right: 5px;
}
