.modalButton {
    background: grey;
    border: 0.1rem solid black;
    color: white;
    border-radius: 10px;
    object-fit: contain;
    height: auto;
    margin: 5px;
    padding: 5px
}

* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

img {
    border-radius: 15px;
}

/* @media screen and (min-width: 550px) {
    .allSpots {
        display: grid;
        grid-template-columns: 1fr
        grid-template-columns: 1fr 1fr;
    }
} */

/* @media screen and (max-width: 599px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }
} */
