.modalButton {
    background: white;
    border: 0.1rem solid black;
    color: black;
    border-radius: 10px;
    object-fit: contain;
    height: auto;
    margin: 5px;
    padding: 5px
}

.modalButton:hover {
    background-color: lightgrey;
}

* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

img {
    border-radius: 15px;
}

button {
    cursor: pointer;
}
