.modalButton {
    background: grey;
    border: 0.15rem solid black;
    color: white;
    box-shadow: 2px 2px 2px black;
    object-fit: contain;
    height: auto;
    margin: 5px
}

* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

img {
    border-radius: 15px;
}
