html, body, input, textarea, button, select, a {
    font-family: 'Open Sans';
    font-size: 16px;
}

.errors {
    color: red;
    font-weight: bold;
}

.Modal {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
}
