html, body, input, textarea, button, select, a {
    font-family: 'Open Sans';
    font-size: 16px;
}

.errors {
    color: red;
    font-weight: bold;
}
.required {
    color: red;
}
div > label {
    color: black;
}
