.home {
    display: flex;
    justify-content: left;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none
}

.profile {
    display: flex;
    justify-content: right;
    margin: 5px;
}
