.home {
    text-decoration: none;
    float: left
}

.logo{
    color:#e61e4d;
    font-weight: bold;
}

.createSpot{
    color: black;
    text-decoration: none;
    margin: 5px;
    float: right
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hidden {
    display: none
}

.profile {
    justify-content:flex-end;
    margin: 5px;
}

.profileButton {
    background-color: #f9f9f9;
    border: none;
    display: flex;
}

.navbar {
    padding: 20px;
    border-bottom: 0.15rem solid lightgrey;

}

.dropdown {
    border: 0.15rem solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
    float: right
}
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border: 0.15rem solid black;
    margin-right: 30px;
    margin-top: 30px;
    padding: 5px
}

.dropdown-content button {
    display: block;
    padding: 3px;
    border: none;
    background-color: #f9f9f9;
}

.dropdown-content .loggedIn {
    display: block;
    margin-left: 10px;
    border: none
}

.dropdown-content .logoutButton {
    background: grey;
    border: 0.15rem solid black;
    color: white;
    box-shadow: 2px 2px 2px black;
    object-fit: contain;
    height: auto;
    border-radius: 15px;
    padding: 5px;

}

.dropdown-content .bottonBorder {
    border-bottom: 0.15rem solid black;
    object-fit: contain;
    box-sizing: border-box;
    padding-top: 3px;
    margin: 5px;
}
.logout {
    display: flex;
    justify-content: center;
    align-items: center;
}
