.home {
    /* display: flex; */
    justify-content: left;
    text-decoration: none;
    margin: 5px;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none
}

.profile {
    display: flex;
    justify-content:flex-end;
    margin: 5px;
}

.profileButton {
    background-color: white;
    border: none;
    display: flex;
}

.navbar {
    display: flex;
    justify-content:space-between;
}
